body {
	background: url(/images/black.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#logo {
	width: 400px;
	padding: 40px;
}

.glyphicon {
	color: #FF6600;
	font-size: 30px;
}

#upvotes {
	display: inline;
	margin-left: 10px;
	font-size: 30px;
	color: #FF6600;
}

#title {
	color: white;
	display: inline;
	font-size: 30px;
	margin-left: 10px;
}

#artist {
	color: #FF6600;
	display: inline;
	font-size: 20px;
	font-style: italic;
	margin-left: 10px;
}

#label {
	color: white;
	display: inline;
	font-size: 20px;
	font-style: italic;
	margin-left: 10px;
}

#comments a {
	display: inline;
	font-size: 10px;
	margin-left: 10px;
	color: #FF9900;
}

#subtrack {
	background-color: #FF6600;
	border-color: #FF6600;
}

h3 {
	color: #FF6600;
}