body {
	background: url(/images/black.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 800px;
}

#logo {
	padding: 1%;
}

.glyphicon-thumbs-up {
	color: #FF6600;
	font-size: 30px;
}

.glyphicon-play {
	color: #FF6600;
}

#upvotes {
	display: inline;
	margin-left: 10px;
	font-size: 30px;
	color: #FF6600;
}

#title {
	color: white;
	display: inline;
	font-size: 30px;
	margin-left: 10px;
}

#artist {
	color: #FF6600;
	display: inline;
	font-size: 20px;
	font-style: italic;
	margin-left: 10px;
}

#label {
	color: white;
	display: inline;
	font-size: 20px;
	font-style: italic;
	margin-left: 10px;
}

#comments a {
	display: inline;
	font-size: 10px;
	margin-left: 10px;
	color: #FF9900;
}

#playitnow {
	color: #FF6600;
	display: inline;
	font-size: 10px;
	margin-left: 10px;
	cursor:hand;
}

iframe{
	margin-bottom: 20px;
}

#subtrack {
	background-color: #FF6600;
	border-color: #FF6600;
}

h3 {
	color: #FF6600;
	font-family: 'Lato', sans-serif;
}

#subtrack {
	background-color: #FF6600;
	border-color: #FF6600;
}
