<a href="#/home"><img id="logo" class="col-xs-4 col-xs-offset-4 grow" src="/images/logo3.png" alt="Hot Tracks logo" ng-href="home.html"></a>
<div class ="col-xs-10 col-xs-offset-1" ng-repeat="track in tracks | orderBy:'-upvotes'">
  <span class="glyphicon glyphicon-thumbs-up grow" ng-click="incrementUpvotes(track)"></span>
  <div id="upvotes">{{track.upvotes}}</div>
  <div id="title">{{track.title | limitTo: 25}}</div>
  <div id="artist">by {{track.artist | limitTo: 25 }}</div>
  <div id="label">from {{track.label | limitTo: 25 }}</div>
  <span id="comments" class="grow">
    <a href="#/tracks/{{track._id}}"><b>Comments</b></a>
  </span>
  <div id="playitnow" class="grow" ng-click="track.playing=true" ng-show="!track.playing">Play it now
  <span class="glyphicon glyphicon-play"></span>
  </div>
  <span id="soundcloud" ng-show="track.playing" ng-bind-html="track.soundcloud">
  </span>
  </div>
</div>
<div class="col-xs-8 col-xs-offset-2">
<form ng-submit="addtrack()" style="margin-top:30px;">
  <h3>Add a new track</h3>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Soundcloud" ng-model="soundcloud"></input>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Artist" ng-model="artist"></input>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Label" ng-model="label"></input>
  </div>
  <button type="submit" id="subtrack" class="btn btn-primary col-xs-6 col-xs-offset-3 grow">Submit Track</button>
</form>
</div>