  <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(track)"></span>
  <div id="upvotes">{{track.upvotes}}</div>
  <div id="title">{{track.title | limitTo: 25}}</div>
  <div id="artist">by {{track.artist | limitTo: 25 }}</div>
  <div id="label">from {{track.label | limitTo: 25 }}</div>
  <div ng-repeat="comment in track.comments | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up"
      ng-click="incrementUpvotes(comment)"></span>
    {{comment.upvotes}} - by {{comment.author}}
    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
  </div>
  <form ng-submit="addComment()"
    style="margin-top:30px;">
    <h3>Add a new comment</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Comment"
      ng-model="body"></input>
    </div>
    <button type="submit" class="btn btn-primary">track</button>
  </form>